/* Cabecera principal */
.main-header {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en los extremos */
  align-items: center;
  background-color: #4a90e2;
  padding: 20px;
  color: white;
}

/* Estilo para la sección izquierda */
.left-side {
  display: flex;
  align-items: center;
}

/* Logo del proyecto */
.logoproyect {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

/* Ícono del menú */
.menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
}

.menu-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* Estilo para la sección derecha */
.right-side {
  display: flex;
  align-items: center;
}

/* Barra de navegación */
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  font-size: 1.1rem;
}

.search-bar {
  padding: 5px;
  border-radius: 4px;
  border: none;
  margin-left: 15px;
}

/* Icono de usuario */
.user-icon {
  margin-left: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}
