<header class="main-header">
    <div class="logo">Logo multidic</div>
    <button class="menu-icon" (click)="toggleMenu()">&#9776;</button>
    <nav class="nav-bar">
      <button (click)="navigateTo('compra')">Compra</button>
      <button (click)="navigateTo('vende')">Vende</button>
      <button (click)="navigateTo('renta')">Renta</button>
      <button (click)="navigateTo('intercambia')">Intercambia</button>
      <input type="text" placeholder="Buscar" class="search-bar">
      <img src="assets/usuario.png" alt="Usuario" class="user-icon" (click)="navigateToLogin()">
    </nav>
  </header>
  