/* Cabecera principal */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4a90e2;
  padding: 20px;
  color: white;
}

/* Sección izquierda con el logo y el botón de menú */
.left-side {
  display: flex;
  align-items: center;
}

/* Sección derecha con los botones y el ícono de usuario */
.right-side {
  display: flex;
  align-items: center;
}

/* Menú de navegación */
.nav-bar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

/* Menú de categorías oculto */
.categories-menu {
  display: flex;
  flex-direction: column;
  background-color: #4a90e2;
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 20px;
  width: 200px;
  border: 2px solid white;
  border-radius: 8px;
}

.categories-menu ul {
  list-style: none;
  padding: 0;
}

.categories-menu li {
  background-color: #60a3d9;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
}

.categories-menu li:hover {
  background-color: #4a90e2;
  transform: scale(1.05);
  transition: 0.3s;
}

/* Logo del proyecto */
.logoproyect {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

/* Ícono del menú */
.menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* Barra de búsqueda */
.search-bar {
  padding: 5px;
  border-radius: 4px;
  border: none;
  margin-left: 15px;
}

/* Icono de usuario */
.user-icon {
  margin-left: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.user-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}
