<app-loader *ngIf="isLoading" [message]="mensaje"></app-loader>
<section *ngIf="!isLoading" class="container">
  <div>
    <h1>Aquí podrás administrar y eliminar tus productos</h1>
    <p>Gestiona y organiza tus productos fácilmente.</p>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td><img [src]="article.url_imagen" alt="{{ article.nombre_articulo }}" /></td>
          <td>{{ article.nombre_articulo | titlecase }}</td>
          <td class="truncate-description">{{ article.descripcion }}</td>
          <td>{{ article.categoria.nombre_categoria | titlecase }}</td>
          <td>{{ article.precio | currency:'MXN' }}</td>
          <td>{{ article.estado }}</td>
          <td>
            <button class="button button-edit" (click)="openEditModal(article)">Editar</button>
            <button class="button button-delete" (click)="deleteArticle(article)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Editar Producto</h2>
        <button class="close-button" (click)="closeEditModal()">×</button>
      </div>
      <form (ngSubmit)="saveArticle()">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="selectedArticle.nombre_articulo" name="nombre_articulo" />
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <textarea [(ngModel)]="selectedArticle.descripcion" name="descripcion"></textarea>
        </div>
        <div class="form-group">
          <label>Categoría</label>
          <select [(ngModel)]="selectedArticle.categoria.nombre_categoria" name="id_category">
            <option *ngFor="let category of categories" [value]="category.id_categoria">
              {{ category.nombre_categoria }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Precio</label>
          <input type="number" [(ngModel)]="selectedArticle.precio" name="precio" />
        </div>
        <div class="form-actions">
          <button type="button" (click)="closeEditModal()">Cancelar</button>
          <button type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</section>
