<app-loader *ngIf="isLoading" [message]="mensaje"></app-loader>
<section *ngIf="!isLoading" class="flex items-center w-full justify-center flex-col mt-10">
    <div class="flex items-center justify-center w-[70%] flex-col">
      <h1 class="text-blue-400 font-bold text-[30px]">Aquí podrás administrar y eliminar tus productos.</h1>
      <p class="text-gray-700 mt-4 ">Gestiona y organiza tus productos fácilmente.</p>
    </div>
    <div class="flex items-center justify-center w-[70%]">
      <div class="p-6 min-h-screen ">
        <div class="overflow-x-auto  rounded-md">
          <table class="w-full text-sm text-left border rounded-md ">
            <tbody class=" text-gray-700 uppercase font-medium bg-white">
              <tr>
                <th class="px-6 py-4 border-b border-gray-200">Imagen</th>
                <th class="px-6 py-4 border-b border-gray-200">Nombre</th>
                <th class="px-6 py-4 border-b border-gray-200">Descripción</th>
                <th class="px-6 py-4 border-b border-gray-200">Categoría</th>
                <th class="px-6 py-4 border-b border-gray-200">Precio</th>
                <th class="px-6 py-4 border-b border-gray-200">Estado</th>
                <th class="px-6 py-4 border-b border-gray-200">Acciones</th>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let article of articles" class="border-b border-gray-300">
                <td class="px-6 py-4">
                  <img
                    [src]="article.url_imagen"
                    alt="{{ article.nombre_articulo }}"
                    class="h-16 w-16 rounded-md object-cover"
                  />
                </td>
                <td class="px-6 py-4">{{ article.nombre_articulo | titlecase }}</td>
                <td class="px-6 py-4">{{ article.descripcion  }}</td>
                <td class="px-6 py-4">{{ article.categoria.nombre_categoria | titlecase }}</td>
                <td class="px-6 py-4">{{ article.precio | currency:'MXN'}}</td>
                <td
                  class="px-6 py-4"
                  [ngClass]="{
                    'text-green-600 font-semibold': article.estado === 'DISPONIBLE',
                    'text-yellow-600 font-semibold': article.estado === 'PENDING',
                    'text-red-600 font-semibold': article.estado === 'NO DISPONIBLE'
                  }"
                >
                  {{ article.estado }}
                </td>
                <td class="px-6 py-4 flex space-x-4 mt-3">
                  <button
                    (click)="openEditModal(article)"
                    class="text-blue-800 text-[14px] font-semibold px-4 py-2 rounded"
                  >
                    Editar
                  </button>
                  <button
                    (click)="deleteArticle(article)"
                    class=" text-red-600 text-[14px] font-semibold px-4 py-2 rounded "
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
      <div class="relative bg-white rounded-lg shadow-lg p-8 w-full max-w-lg">
        <!-- Botón para cerrar -->
        <button
          (click)="closeEditModal()"
          class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 transition duration-200"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
    
        <!-- Título -->
        <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center border-b pb-4">Editar Producto</h2>
    
        <!-- Formulario -->
        <form (ngSubmit)="saveArticle()" class="space-y-5">
          <!-- Nombre -->
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-2">Nombre</label>
            <input
              type="text"
              [(ngModel)]="selectedArticle.nombre_articulo"
              name="nombre_articulo"
              class="w-full border border-gray-300 rounded-lg p-3 focus:border-blue-500 focus:ring focus:ring-blue-100 transition"
              placeholder="Nombre del producto"
            />
          </div>
    
          <!-- Descripción -->
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-2">Descripción</label>
            <textarea
              [(ngModel)]="selectedArticle.descripcion"
              name="descripcion"
              class="w-full border border-gray-300 rounded-lg p-3 focus:border-blue-500 focus:ring focus:ring-blue-100 transition resize-none"
              rows="3"
              placeholder="Escribe una descripción del producto"
            ></textarea>
          </div>
          	 <!-- Categoria -->
             <div [formGroup]="categorySelected" >
              <label class="block text-sm font-medium text-gray-700 mb-2">Categoría</label>
              <select id="id_category" 
                formControlName="id_category"
                class="w-full border border-gray-300 rounded-lg p-3 focus:border-blue-500 focus:ring focus:ring-blue-100 transition"
              >
              <option value="" disabled selected>{{selectedArticle.categoria.nombre_categoria}}</option>
                <option *ngFor="let category of categories" [value]="category.id_categoria">
                  {{ category.nombre_categoria }}
                </option>
              </select>
            </div>
            
          <!-- Precio -->
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-2">Precio</label>
            <input
              type="number"
              [(ngModel)]="selectedArticle.precio"
              name="precio"
              class="w-full border border-gray-300 rounded-lg p-3 focus:border-blue-500 focus:ring focus:ring-blue-100 transition"
              placeholder="Precio en MXN"
            />
          </div>
    
          <!-- Botones -->
          <div class="flex justify-end space-x-4 pt-4 border-t border-gray-200">
            <button
              type="button"
              (click)="closeEditModal()"
              class="px-5 py-2 rounded-lg bg-gray-500 text-white hover:bg-gray-600 transition duration-300"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="px-5 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700 transition duration-300"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
    
  
  </section>
  