<app-header></app-header>
<div *ngFor="let product of products" class="product-card">
  <img [src]="product.image" alt="{{ product.nombre_articulo }}" class="product-image" />
  <div class="product-info">
    <h3>{{ product.nombre_articulo }}</h3>
    <p>{{ product.descripcion }}</p>
    <p>Precio: {{ product.precio | currency }}</p>
    <p>Vendedor: {{ product.userName }}</p>
    <p>Teléfono: {{ product.userPhone }}</p>
    <button (click)="updateProduct(product)">Actualizar</button>
    <button (click)="deleteProduct(product)">Eliminar</button>
    <button (click)="goToExchange(product.id_articulo)">Intercambiar</button>
  </div>
</div>
