<app-header></app-header>

<!-- Carrusel de tarjetas -->
<!-- Nueva sección envolvente -->
<div class="carousel-section">
  <!-- Carrusel existente -->
  <div class="carousel">
    <div class="carousel-container" [style.transform]="getTransform()">
      <div class="carousel-card" *ngFor="let item of items">
        <div class="card">
          <div class="card2">
            <div class="imgcard">
              <img [src]="item.img" [alt]="item.name">
            </div>
            <p class="name">{{ item.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <button (click)="prevSlide()" class="carousel-control prev">◀</button>
    <button (click)="nextSlide()" class="carousel-control next">▶</button>
  </div>
</div>


<!-- Pie de página -->
<footer class="description">
  <p>
    La creación de esta plataforma para la compra, venta y renta de artículos fue pensada para poder ayudar a los estudiantes universitarios a adquirir artículos para su carrera a un precio accesible y en buen estado. Así mismo, también ayuda a los estudiantes a deshacerse de artículos que ya no utilizan y de los cuales se quieren deshacer.
  </p>
</footer>