<app-header></app-header>

<!-- Modal para mostrar los elementos -->
<!-- Modal para mostrar los elementos -->
<div *ngIf="isModal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Selecciona un artículo</h2>
      <button class="close" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body">
      <!-- Tabla para mostrar los productos -->
      <table class="product-table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsByUser">
            <td><img [src]="item.url_imagen" alt="imagen del producto" class="item-image" /></td>
            <td>{{ item.nombre_articulo }}</td>
            <td class="flexx">{{ item.descripcion }}</td>
            <td>{{ item.precio | currency }}</td>
            <td><button (click)="selectItem(item)">Seleccionar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>

<!-- El resto del contenido en la página -->
<div class="intercambio-container">
  <!-- Detalles del producto -->
  <div class="product-details">
    <div class="product-image">
      <img [src]="product?.url_imagen" alt="Imagen del producto" />
    </div>
    <div class="product-info">
      <h2>{{ product?.nombre_articulo }}</h2>
      <p class="price">{{ product?.precio | currency }}</p>
      <p class="tax">IVA incluido</p>
      <p class="texto">Recoge dentro de las instalaciones</p>
      <div class="dropdown">
        <label for="building">Elige edificio de entrega:</label>
        <select id="building" [(ngModel)]="selectedBuilding">
          <option value="" disabled selected>Selecciona...</option>
          <option value="UD1">UD1</option>
          <option value="UD2">UD2</option>
          <option value="UD3">UD3</option>
          <option value="UD4">UD4</option>
        </select>
      </div>
      <p class="cantidad">Cantidad: {{ product?.cantidad }} disponible</p>
    </div>
  </div>

  <!-- Información del vendedor -->
  <div class="vendor-info">
    <h3>Información del vendedor</h3>
    <img [src]="product?.profile_picture_url || 'assets/default-vendor.png'" alt="Imagen del vendedor" />
    <p><strong>Intercambiar con:</strong> {{ product?.userName }}</p>
    <p><strong>Teléfono:</strong> {{ product?.userPhone }}</p>
    <div class="contact-info">
      <h4>Contactar</h4>
      <a [href]="'https://wa.me/' + product?.userPhone" target="_blank" class="social-icon" title="Contactar en WhatsApp">
        <img src="assets/whats.jpg" alt="WhatsApp" />
      </a>
    </div>
  </div>

  <!-- Características del producto -->
  <div class="product-characteristics">
    <h3>Características del producto</h3>
    <p *ngIf="product?.descripcion">{{ product?.descripcion }}</p>
  </div>

  <!-- Sección de intercambio -->
  <div class="exchange-section">
    <h3>Artículo a intercambiar</h3>
    <p-button (onClick)="openModal()" icon="pi pi-search" label="Selecciona un producto" />
    <div class="selected-item">
      <p>Producto seleccionado: </p>
      <img [src]="selectedItem?.url_imagen" alt= />
      <p>{{ selectedItem?.nombre_articulo | titlecase }}</p>
      <p>{{ selectedItem?.precio | currency }}</p>
    </div>


    <button class="btn-exchange" (click)="solicitInterchange()">
      Solicitar intercambio ahora
    </button>
  </div>
</div>
