<app-header></app-header>

<div class="intercambia-container">
  <div class="product-details">
    <div class="product-image">
      <img [src]="product?.image" alt="Producto" />
    </div>
    <div class="product-info">
      <h2>{{ product?.nombre_articulo }}</h2>
      <p class="price">{{ product?.precio | currency }}</p>
      <p class="availability">Entrega inmediata en universidad</p>
      <p class="product-description">{{ product?.descripcion }}</p>
    </div>
    <div class="seller-info">
      <p>Vendido por: {{ product?.userName }}</p>
      <p>Teléfono: {{ product?.userPhone }}</p>
    </div>
  </div>

  <div class="exchange-section">
    <h3>Artículo a intercambiar</h3>
    <div class="upload-section">
      <label for="upload">Subir imágenes:</label>
      <input type="file" id="upload" class="upload-input" />
    </div>
    <div class="exchange-info">
      <input type="text" placeholder="Nombre" />
      <input type="text" placeholder="Estado" />
      <textarea placeholder="Descripción"></textarea>
    </div>
    <button class="exchange-button">Solicitar intercambio ahora</button>
  </div>
</div>
