.card-container {
  width: 100%;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(0, 81, 255, 0.5) 100%);
  backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  color: black;
  
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila */
  gap: 10rem; /* Espaciado entre las tarjetas */
  padding: 2rem; /* Espaciado interno del contenedor */
  margin: auto; /* Centra el contenedor */
}

.product-card .main {
  text-align: left;
}

.product-card img {
  width: 100%;
  border-radius: 15px;
  display: block;
  margin-bottom: 1rem;
}

.product-card h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-card h2 {
  font-size: 1.2rem;
  color: hsl(0, 0%, 0%);
}

.product-card .description {
  font-size: 1rem;
  color: hsl(215, 51%, 70%);
  margin-bottom: 1.5rem;
}

.tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tokenInfo .price,
.tokenInfo .duration {
  font-size: 0.9rem;
}

.tokenInfo ins {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.creator {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid hsl(215, 32%, 27%);
}

.creator .wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 2px solid white;
  margin-right: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.actions .btn-update,
.actions .btn-delete,
.actions .btn-exchange {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.actions .btn-update {
  background-color: hsl(178, 100%, 50%);
  color: white;
}

.actions .btn-delete {
  background-color: hsl(0, 78%, 62%);
  color: white;
}

.actions .btn-exchange {
  background-color: hsl(215, 51%, 70%);
  color: white;
}

.actions button:hover {
  opacity: 0.8;
}
.header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3d9ff; /* Color de fondo similar al de la imagen */
  padding: 1rem;
  margin-bottom: 1rem; /* Espacio entre el encabezado y las tarjetas */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.header-banner .banner-icon {
  width: 40px; /* Tamaño del icono */
  height: 40px;
  margin-right: 0.5rem; /* Espaciado entre el icono y el texto */
}

.header-banner h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #fff; /* Color del texto */
}
