<app-header></app-header>
<div class="card-container">
  <div *ngFor="let product of filteredProducts" class="product-card">
    <div class="main">
      <img [src]="product.url_imagen" alt="{{ product.nombre_articulo }}" class="hero-image" />
      <h1>DESCRIPCIÓN</h1>
      <h2>Nombre Artículo: {{ product.nombre_articulo }}</h2>
      
      <div class="description">
        <h3>Características:</h3>
        <ul *ngFor="let row of getProcessedDescription(product.descripcion)">
          <li *ngFor="let feature of row">{{ feature }}</li>
        </ul>
      </div>
      
      <div class="tokenInfo">
        <div class="price">
          <p>{{ product.precio | currency }}</p>
        </div>
      </div>
      <hr />
      <div class="creator">
        <div class="wrapper">
          <img [src]="product.profile_picture_url" alt="Imagen del vendedor" class="creatorImage" />
        </div>
        <p><ins>Propietario:</ins> {{ product.userName }}</p>
      </div>
      <div class="actions">
        <!-- Habilitar acciones solo para usuarios autenticados -->
        <button 
          *ngIf="isAuthenticated && product.userName === authenticatedUserName" 
          (click)="updateProduct(product)" 
          class="btn-update">
          Actualizar
        </button>
        <button 
          *ngIf="isAuthenticated && product.userName === authenticatedUserName" 
          (click)="deleteProduct(product)" 
          class="btn-delete">
          Eliminar
        </button>

        <!-- Mostrar botón deshabilitado para no autenticados -->
        <button 
          *ngIf="!isAuthenticated" 
          disabled 
          class="disabled-button">
          No puedes interactuar
        </button>

        <!-- Acciones comunes disponibles para todos -->
        <button 
          (click)="goToExchange(product)" 
          class="btn-exchange">
          Ir a Intercambio
        </button>
        <button 
          (click)="goToPurchase(product)" 
          class="btn-purchase">
          Comprar
        </button>
        <!-- Botón deshabilitado para usuarios que no son propietarios -->
        <button *ngIf="product.userName !== authenticatedUserName"  disabled class="disabled-button">No puedes interactuar</button>


      </div>
    </div>
  </div>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">

</div>
