<app-header></app-header>

<div class="renta-container">
  <div class="product-details">
    <div class="product-image">
      <img src="assets/calculator.jpg" alt="Calculadora Científica">
    </div>
    <div class="product-info">
      <h2>Calculadora Científica Casio Fx-82la Plus2</h2>
      <p class="price">$85 <span>IVA incluido</span></p>
      <p class="availability">Entrega inmediata en universidad</p>
      <p class="product-description">Lo que tienes que saber de este producto:</p>
      <ul>
        <li>Con 252 funciones.</li>
        <li>Incluye memoria.</li>
        <li>Cantidad de líneas de la pantalla: 4.</li>
        <li>Almacena hasta 0GB.</li>
      </ul>
      <p class="pickup-info">Recoge dentro de las instalaciones</p>
      <select class="pickup-select">
        <option>Elige edificio de entrega</option>
        <option>UD1</option>
        <option>UD2</option>
        <option>UD3</option>
        <option>UD4</option>
      </select>
      <button class="loan-button">Solicitar Renta</button>
    </div>
  </div>
</div>
