/* Contenedor principal */
.login-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Panel Izquierdo */
  .left-panel {
    background-color: #619CF4;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-panel img {
    width: 80%;
    max-width: 500px;
  }
  
  /* Panel Derecho */
  .right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .logo img {
    width: 80px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f5ff;
  }
  
  .login-button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #3a78c2;
  }
  
  .register-link {
    margin-top: 15px;
    color: #333;
    font-size: 0.9rem;
  }
  
  .register-link a {
    color: #4a90e2;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  