/* Configuración del layout principal */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Altura completa del viewport */
    display: flex;
    flex-direction: column;
  }
  
  #main-container {
    flex: 1; /* Este elemento se expandirá para llenar el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  app-footer {
    flex-shrink: 0; /* Evita que el footer se comprima */
  }
  